@model Web.ViewModels.PriceListViewModels.PriceListViewModel

<h1>Hinnakiri</h1>

<p>Expires: @Model.Expires</p>

<form asp-controller="Home" asp-action="Reserve" method="post">

    <input type="hidden" name="SelectedExpires" value="@Model.Expires" />

    @foreach (var route in Model.Routes)
    {
        @if (route.Schedule.Any())
        {
            foreach (var schedule in route.Schedule)
            {
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="SelectedFrom" value="@route.From" />
                        @route.From
                    </div>
                    <div class="col">
                        <input type="hidden" name="SelectedTo" value="@route.To" />
                        @route.To
                    </div>
                    <div class="col">
                        <input type="hidden" name="SelectedDate" value="@schedule.StartDate" />
                        @schedule.StartDate
                    </div>
                    <div class="col">
                        <input type="hidden" name="SelectedStart" value="@schedule.StartTime" />
                        @schedule.StartTime
                    </div>
                    <div class="col">
                        <input type="hidden" name="SelectedEnd" value="@schedule.EndTime" />
                        @schedule.EndTime
                    </div>
                    <div class="col">
                        <input type="hidden" name="SelectedPrice" value="@schedule.Price" />
                        @schedule.Price
                    </div>
                    <div class="col">
                        <input type="hidden" name="SelectedCarrierCompany" value="@schedule.CarrierCompany" />
                        @schedule.CarrierCompany
                    </div>
                    <div class="col">
                        <button class="reserve-button" type="submit">Broneeri reis</button>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="col">@route.From</div>
                <div class="col">@route.To</div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        }
    }
</form>
